# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Env
env/
venv/
.venv/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc

# Media files
media/
staticfiles/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Migrations (опціонально, якщо хочеш)
*/migrations/*.py
!*/migrations/__init__.py
